<h1>Analizador de PL0 ampliado usando PEG.js</h1>
<div id="content">
  <p class="loadfile">
    <div>
	<label class = "Selboton">
 	  Examinar ...
	  <input type="file" id="examples" />
	</label>
    </div>
  </p>
  <p>
  <nav>
  <ul>
    <% programs.each do |p| %>
      <li><a href="<%= p.name %>" <%=current?('/'+p.name)%>><%= p.name %></a></li>
    <% end %>
  </ul>
  </nav>
  <table>
    <br/>
    <br/>
    <tr>
      <td>
        <form action="/save" method="post"> 
          <br/>
          <textarea id="input" name="input" 
                    autofocus cols = "40" rows = "4">
<%= source %>
          </textarea>
          <br/>
          <label for="saveas">Save as</label>
          <input id="saveas" type="text" name="fname" 
                 title="name" pattern="\w+" />
        </form>
      </td>
      <td><button class="parseboton" id="parse" type="button">parse</button></td>
    </tr>
  </table>
  </p>
  <div class="output">
    <pre>
<span id="output"></span> <!-- Output goes here! --> 
    </pre>
  </div>
</div>

<script>
      var editor = CodeMirror.fromTextArea(document.getElementById("input"), {
        lineNumbers: true,
        viewportMargin: Infinity,
        mode: "text/x-pascal"
      });

    
      function dump(fileName) {
        $.get(fileName, function (data) {
          $("#input").val(data);
            editor.setValue(data);
        });
      };
      
      document.getElementById('files').addEventListener('change', CopyMe, false);

        function CopyMe(evt) {
          var file = evt.target.files[0];
          if (file) {
            var reader = new FileReader();
            reader.onload = function(e) { 
              editor.setValue(e.target.result);
            }
            var c = reader.readAsText(file);
          }
          else { alert("Failed to load file"); }
        }
   </script>

<script src="pl0.js"></script>
<script src="main.js"></script>
